  
  .meme-page{
    background-color: white;
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
  }
  
  .meme-nav{
    display: flex;
    align-items: center;
    position: sticky;
    background: linear-gradient(90deg, rgba(103,34,128,1) 42%, rgba(166,38,211,1) 76%);
    height: 100px;
    padding: 30px 25px;
  }
  
  .meme-nav--logo_text, .meme-nav--title {
    margin: 0;
  }
  
  .meme-nav--logo_text {
    margin-right: auto;
    color: white;
    font-weight: 700;
    font-size: 22px;
  }
  
  .meme-nav--title {
    color: white;
    font-weight: 500;
  }
  
  /* .nav--icon {
    height: 30px;
    margin-right: 7px;
    color:white
  } */
  main{
   
    padding: 70px;
  }
  .meme-form{
    display: grid;
    grid:40px 40px /1fr 1fr;
    gap: 10px;
  }
  .meme-form--input{
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #444;
  }
  
  .meme-form--button {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: none;
    background: linear-gradient(90deg, rgba(103,34,128,1) 42%, rgba(166,38,211,1) 76%);
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 30px;
    
  }
  .meme--image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:4%;
    max-width: 100%;
    border-radius: 5px;
  }
.meme{
  position: relative;
}
.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}