*{
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}

.airbnb-nav {
    height: 100px;
    display: flex;
    padding: 20px 36px !important;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.airbnb-nav-logo {
    width: 200px;
 
}

section {
    display: flex; 
    flex-direction: row;
    padding: 20px;
    gap: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero-photo {
    max-width: 400px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.hero-header {
    margin-bottom: 5px;
}

.hero-text {
    margin-top: 0;
    margin-bottom: 0;
}
.gray{
    color: #918E9B;
    margin-left: 3%;
}
.airbnb-card{
    display: flex;        
    flex-direction: column !important ; 
    max-width:175px;
    font-size: 12px; 
    flex: 0 0 auto;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.airbnb-card--image {
    border-radius: 9px;
    /* max-width: 400px; */
}
.airbnb-card--title {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3%;
    margin-bottom: 3%;
}
.airbnb-card--stats {
    display: flex;
    align-items: center;
    margin-top: 10%;
    
}

.airbnb-card-star{
    height: 14px;
    width: 14px;
}
.airbnb-card--price {
    margin-top: auto;
}
.airbnb-card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}
