* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    align-items: center; 
    font-family: 'Inter', sans-serif;
    /* background:linear-gradient(to bottom, rgba(247,239,144,1) 32%, rgba(249,225,199,1) 78%); */

  }  
  .pets-main-page{
  border: 1px solid black;
  height: 100vh;
  background:linear-gradient(to bottom, rgba(247,239,144,1) 32%, rgba(249,225,199,1) 78%);
  }
  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top:250px;
  }
  
  .contact-card {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
    background-color: white;
    height: 230px;
  }
  
  .contact-card > img {
    width: 100%;
    max-height: 100px;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
  }
  .pet-info{
    margin: auto;
    margin-top: 10%;
  }
  .contact-card > h3 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 3%;
   
  }
  
  .info-group {
    display: flex;
    align-items: center;
    margin-top: 5%;
  }
  
  .info-group > img {
    height: 11px;
    margin-right: 8px;
  }
  
  .info-group > p {
    margin-block: 3px;
    font-size: 12px;
    color: #2B283A;
  }